<h1> {{ question.subject }} </h1>
{% comment %} 질문제목  {% endcomment %}
<div>
    {{ question.content }}
</div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>{{ answer.content }}</li>
    {% endfor %}
    </ul>
</div>


<form action="{% url 'pybo:answer_create' question.id %}" method="post">
{% csrf_token %} 
{% comment %} {% csrf_token %}은 보안에 관련된 항목으로 form으로 전송한 데이터가 실제 웹 페이지에서 작성한 데이터인지를 판단해 주는 가늠자 역할을 한다.  {% endcomment %}
<textarea name="content" id="content" rows="15"></textarea>
<input type="submit" value="답변등록">
{% comment %} # 해당 폼의 정보는 {% url 'pybo:answer_create' question.id %} 로 post 형식으로 보내진다.
textarea는에 적힌 정보는 서버에 제출된후 content 라는 이름을 가지고있음   {% endcomment %}
</form>